body{
    font-family: Arial,  sans-serif;
    background-color: aquamarine;
    margin: 0;
    padding: 150px;
}
.resume-container {
    display: flex;
    background-color:  white;
        width:80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px royalblue;

}

h3{
    font-size:18px;
    padding:2%;
    margin: 20px 0 10px;
    color:black;
    border-radius:10px;
    box-shadow: 0 0 15px cornflowerblue;
    margin-top: 5%;
    margin-bottom: 5%;
}

.left section{
    background-color: black;
    color:aliceblue;
    padding: 20px;
    width:35%;
    text-align: center;
    border-right: 5px solid blue;

}
.Image{

    padding: 0;
    margin: auto;

}

.right section{

    margin-left: 10px;
    padding: 0px; ;

    position:absolute;
   top: 40%;
    left: 45%;
    right:20%

}

.education{
    position:absolute;
    top:75%;
    left :15%;
    right:20%;
    margin-left: 10px;
    padding: 0%;
}

.skills{
    position:absolute;
    top:110%;
    left:15%;
    right:20%;
    margin-left:10px ;
    padding:0%
}
.heading{
    position: absolute;
    top:28%;
    right:30%;
    font-style: oblique;

}
.work_Experience{
    position:absolute;
    top:150%;
    right:15%;
    left: 12%;


}

.button1{
    position: absolute;
    top:200%;
    right:25%;
}